.containerLogin{
    background-color: var(--secondary-color);
    border-radius: 20px;
    width: 30%;
    height: 73%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    gap: 5%;
}

.title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title h1{
    color: #fff;
    font-size: 30px;
    font-weight: 900;
}

.title p{
    color: var(--text-color);
    font-size: 13px;
}

.buttonSend{
    background-color: var(--third-color);
    color: #fff;
    width: 150px;
    height: 40px;
}

.linkRegister{
    color: var(--text-color);
}

.linkRegister:hover{
    color: #fff;
    transition: 0.2s;
}

@media screen and (max-width: 1024px){
    .containerLogin{        
        width: 40%;
    }
    
}

@media screen and (max-width: 700px){
    .containerLogin{        
        width: 90%;
        height: 90%;
        padding-top: 10%;
    }
    
}




