 .contentRegister{
    width: 40%;
    height: 90%;
    background-color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    padding: 2%;
}

.title{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 3% 0;
}

.title h1{
    font-size: 2rem;
    font-weight: 900;
    color: #fff;
}

.title p{
    color: var(--text-color);
}


.formStyle{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.formStyle label{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 6%;
    width: 100%;
}

.iconInput{
    background-color: var(--fourth-color);
    color: var(--secondary-color);
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0 0 10px;
}


.formStyle label input{
    height: 40px;
    width: 100%;
}

.formStyle button{
    background-color: var(--fourth-color);
    margin: 7% 0 10% 0;
    color: #fff;
    width: 200px;
    height: 40px;
}

.formStyle button:hover{
    background-color: #29c28f;
    transition: 0.2s;
}

@media screen and (max-width: 1024px) {   
    .contentRegister{
        width: 70%;
        height: 80%;
    }    
}



@media screen and (max-width: 767px) {   
    .contentRegister{
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .iconLoginPerson{
        font-size: 50px;
        margin-top: 20px;
    }
    
    .title{
        margin-bottom: 20px;
        text-align: center;    
    }
    
    
    .formStyle label{
        width: 100%;
    }
    
    .formStyle label input{
        height: 40px;
    }
    
    .formStyle button{
        background-color: var(--fourth-color);
        margin-top: 20px;
        color: #fff;
        width: 160px;
        height: 40px;
        margin-bottom: 20px;
    }
    
    .formStyle button:hover{
        background-color: #29c28f;
        transition: 0.2s;
    }
}
