.footerContent{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    margin: 0;
    color: var(--text-color);
}


@media screen and (max-width: 767px) {
    .footerContent{
        font-size: 10px;
    }
}