.modalAddTaskContent{
    width: 70%;
    min-height: 70%;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: 10px solid var(--primary-color);
}

.formStyle{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.formStyle h1{
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 20px;
    color: #fff;
}

.formStyle label{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    width: 90%;
    margin-bottom: 20px;
}

.iconInput{
    background-color: var(--third-color);
    color: var(--secondary-color);
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0 0 10px;
}

.formStyle label input{
    height: 40px;
    width: 80%;
    border-radius: 0 10px 10px 0;
    padding:10px;
}

.formStyle label textarea{
    height: 200px;
    border-radius: 10px;
    width: 85%;
    padding: 10px;
}

.formStyle button{
    background-color: var(--third-color);
    height: 60px;
    width: 200px;
    border-radius: 15px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 18px;
}


.formStyle button:hover{
  background-color: var(--third-color-hover);
}

.buttonCloseContent{
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.buttonClose{
    width: 50px;
    font-size: 40px;
    color: #fff;
    position: relative;
    bottom: 560px;
    left: 96%;
    z-index: 999;
}

.buttonClose:hover{
  color: #ccc;
}

/*================================================*/
.switch {
    position: relative;
    left: 50px;
    display: inline-block;
    width: 80px;
    height: 40px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    width: 80px;
    border-radius: 20px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 10px;
    bottom: 7px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: var(--third-color);
    width: 80px;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--third-color);
    width: 80px;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(36px);
    -ms-transform: translateX(36px);
    transform: translateX(36px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .InfoCheckTask{
    position: relative;
    bottom: 60px;
    right: 160px;
    font-size: 16px;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-weight: 300;  
}

.InfoCheckTaskComplete{
    color: var(--fourth-color);
    background-color: #35565E;
    transition: 0.2;
}

.InfoCheckTaskNoComplete{
    color: var(--fifth-color);
    background-color: #4F4660;
    transition: 0.2;
}

@media screen and (max-width: 1023px) {
  .buttonClose{
    bottom: 570px;
    left: 94%;
  }
}


@media screen and (max-width: 767px) {
    .modalAddTaskContent{
        width: 90%;
        height: 75%;
        padding: 10px;
        border: none;
    }

    .formStyle label textarea{
        height: 200px;
        border-radius: 10px;
        width: 90%;
        padding: 10px;
    }

    .formStyle button{
        height: 50px;
        width: 150px;
        font-size: 15px;
    }

    .buttonClose{
      bottom: 550px;
      left: 88%;
    }

}
