.modalAddTaskContent{
    width: 60%;
    height: 60%;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: 10px solid var(--primary-color);
}

.formStyle{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.formStyle h1{
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 20px;
    color: #fff;
}

.formStyle label{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    width: 90%;
    margin-bottom: 20px;
}

.iconInput{
    background-color: var(--third-color);
    color: var(--secondary-color);
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0 0 10px;
}

.formStyle label input{
    height: 40px;
    width: 80%;
}

.formStyle label textarea{
    height: 200px;
    border-radius: 10px;
    width: 85%;
    padding: 10px;
}

.formStyle button{
    background-color: var(--third-color);
    height: 60px;
    width: 200px;
    border-radius: 15px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 18px;
}


.formStyle button:hover{
  background-color: var(--third-color-hover);
}

.buttonCloseContent{
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.buttonClose{
    background-color: #e54e4e;
    height: 40px;
    border-radius: 15px;
    width: 100px;
    color: #fff;
    position: relative;
    bottom: 100%;
}

.buttonClose:hover{
    background-color: #c04141;
}

@media screen and (max-width: 1024px) {
    .buttonClose{
        bottom: 0%;
    }
}

@media screen and (max-width: 767px) {
    .modalAddTaskContent{
        width: 90%;
        height: 75%;
        padding: 10px;
        border: none;
    }

    .formStyle label textarea{
        height: 200px;
        border-radius: 10px;
        width: 90%;
        padding: 10px;
    }

    .formStyle button{
        height: 50px;
        width: 150px;
        font-size: 15px;
    }

    .buttonClose{
        bottom: 0;
    }

}
