.title{
    width: 50%;
    overflow: hidden;
}

.data{
    width: 25%;
    display: flex;
    padding-left: 10px;
}

.status{
    width: 25%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10px;
}
.status div{
    min-height: 35px;
    max-width: 120px;
    border-radius: 15px;
    justify-content: center;
}

.taskCompleted div{
    background-color: #2FE5A720;
    color: var(--fourth-color);

}

.taskPending div{
    background-color: #ff69b420;
    color: var(--fifth-color);
}

@media screen and (max-width: 767px) {
    .data{
        display: none;
    }
    .status{
        width: 50%;
        justify-content: flex-end;
    }

    .status div{
        min-height: 25px;
        max-width: 80px;
        border-radius: 15px;
        justify-content: center;
        font-size: 12px;
    
    }
}

    