@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');


*{
    font-family: 'Roboto', sans-serif;
}


.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 5px;
}

.contentComponent{
    min-height: 60vh;
}